/* main.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f9; /* Azul claro */
}

#container {
    max-width: 100%; /* Alterado para ocupar a largura total da tela */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="date"], select, textarea { /* Incluído o textarea */
    width: 100%; /* Alterado para ocupar a largura total da tela */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%; /* Alterado para ocupar a largura total da tela */
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

#listaCupons {
    margin-top: 20px;
    padding: 0;
}

#listaCupons li {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#relatorio-container {
    max-width: 100%; /* Alterado para ocupar a largura total da tela */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

strong {
    font-weight: bold;
}

/* main.css */

/* Adicione as regras de estilo dentro de uma media query para dispositivos móveis */
@media only screen and (max-width: 600px) {
    #relatorio-container {
        text-align: center; /* Centraliza o conteúdo */
    }

    .imprimir-botao {
        width: auto; /* Defina a largura automática para o botão */
        margin: 20px auto; /* Centraliza o botão na horizontal */
        background-color: #007bff; /* Azul */
        color: white;
        padding: 15px; /* Aumenta o preenchimento para tornar o botão mais visível */
        border: none;
        border-radius: 8px; /* Aumenta o raio da borda para um visual mais suave */
        cursor: pointer;
        font-size: 18px; /* Aumenta o tamanho do texto */
        font-weight: bold; /* Torna o texto em negrito para maior destaque */
        text-transform: uppercase; /* Transforma o texto em maiúsculas para maior ênfase */
        transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
    }

    .imprimir-botao:hover {
        background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
    }
}
